language: go

go:
    - "1.7.1"

before_script:
#    - git clone --branch v2 https://github.com/go-yaml/yaml $GOPATH/src/gopkg.in/yaml.v2
#    - go get -u -v github.com/spf13/hugo
    - npm install -g firebase-tools
    - wget https://github.com/spf13/hugo/releases/download/v0.19/hugo_0.19_Linux-64bit.tar.gz -O /tmp/hugo.tar.gz
    - tar -zxvf /tmp/hugo.tar.gz
    - export PATH=$PATH:$PWD/hugo_0.19_linux_amd64/

script:
    - git submodule update --init
    - hugo_0.19_linux_amd64

after_success:
    - firebase deploy --token=${FIREBASE_API_TOKEN}
